{% extends 'board/base.html' %}

{% block dropdown %}
    {% for cat in categories %}
        {% if selected_category and cat == selected_category %}
            {% comment %} <li class="active"><a href="{% url 'board:post_list' pk=cat.id %}">{{ cat.name }}</a></li> {% endcomment %}
            <a class="dropdown-item active" href="{% url 'board:post_list' pk=cat.id %}">{{ cat.name }}</a>
        {% else %}
            {% comment %} <li><a href="{% url 'board:post_list' pk=cat.id %}">{{ cat.name }}</a></li> {% endcomment %}
            <a class="dropdown-item" href="{% url 'board:post_list' pk=cat.id %}">{{ cat.name }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block search %}
    <form class="form-inline mt-2 mt-md-0 mr-md-2">
    {% comment %} <form class="form-inline mt-2 mt-md-0 mr-md-2" method="post" action="{% url 'board:post_search' %}"> {% endcomment %}
        <input class="form-control mr-sm-2" type="text" placeholder="검색" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">찾기</button>
    </form>
{% endblock %}

{% block content %}
    {% if selected_category %}
        <h1>{{ selected_category.name }} <small> {{ posts|length }} 건의 포스트</small></h1>
    {% else %}
        <h1>SoundArchive <small> {{ posts|length }} 건의 포스트</small></h1>
    {% endif %}
    {% for post in posts %}
        <hr>
        <div class="post">
            <h2>
                <a href="{% url 'board:post_detail' pk=post.pk %}">{{ post.title }}</a>
                <small><i>{{ post.category }}, 작성자: {{ post.author }}, 추천: {{ post.like }} </i></small>
            </h2>
            <p><span class="date">{{ post.created_date }}</span></p>
        </div>
    {% empty %}
        <hr>
        {% if selected_category %}
            <div class="post"> <p>{{ selected_category.name }} 에는 포스트가 없습니다!</p> </div>
        {% else %}
            <div class="post"> <p>모든 카테고리에 포스트가 없습니다!</p> </div>
        {% endif %}
    {% endfor %}
{% endblock %}