{% extends 'board/base.html' %}

{% block dropdown %}
    {% for cat in categories %}
        {% if cat == post.category %}
            {% comment %} <li class="active"><a href="{% url 'board:post_list' pk=cat.id %}" class="active">{{ cat.name }}</a></li> {% endcomment %}
            <a class="dropdown-item active" href="{% url 'board:post_list' pk=cat.id %}">{{ cat.name }}</a>
        {% else %}
            {% comment %} <li><a href="{% url 'board:post_list' pk=cat.id %}">{{ cat.name }}</a></li> {% endcomment %}
            <a class="dropdown-item" href="{% url 'board:post_list' pk=cat.id %}">{{ cat.name }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="post">
        <div class="date">
            {{ post.created_date }}
        </div>
        <h2>
            {{ post.title }}
            <small><i>{{ post.category }}, 작성자: {{ post.author }}, 추천: {{ post.like }} </i></small>
        </h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <p>
        {% if post.audio_file %}
            <audio controls style="width:100%; max-width:600px">
                <source src="{{ post.audio_file.url }}">
            </audio>
        {% else %}
            <p>!!첨부된 오디오 파일이 없습니다!!</p>
        {% endif %}
        </p>
        {% if user.is_authenticated %}
            <p>
            {% if user.is_superuser or user == post.author %}
            <a class="btn btn-lg btn-default" href="{% url 'board:post_edit' pk=post.pk %}">수정</a>
            <a class="btn btn-lg btn-default" href="{% url 'board:post_remove' pk=post.pk %}">삭제</a>
            {% endif %}
            <a class="btn btn-lg btn-default" href="{% url 'board:post_like' pk=post.pk %}">추천</a>
            </p>
        {% endif %}
    </div>
{% endblock %}